/*login and register*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /*  New background image */
  background: url("https://i.pinimg.com/736x/28/0f/d9/280fd9026c9612289255a122e5d81b56.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px 35px;
  border-radius: 16px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  opacity: 0.9;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 6px;
  font-size: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #6c63ff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5848e5;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #ffdd57;
  text-decoration: none;
}
